# Development
.git
.github
.vscode
node_modules
packages/
*.log
.DS_Store
.env
.env.*
!.env.example

# Build
.next
out
build
dist
coverage

# Dependencies
pnpm-debug.log*
.pnpm-store

# Testing
__tests__
test
tests
*.test.*
*.spec.*

# Misc
.editorconfig
.eslintignore
.prettierignore
*.config.js
*.config.ts
tsconfig.json

# Development configs
.eslintrc*
.prettierrc*
.babelrc*
jest.config.* 